.header {
    height: 64px;
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 1px solid;
    box-shadow: 0 3px 5px 3px rgb(199, 199, 199);
    margin-bottom: 10px;
    
    &__title {
        font-size: 56px;
        margin: 0px 20px;
    }

    &__link {
        font-size: 56px;
        text-decoration: none;
        margin: 0px 10px;
        color: black;
        &:hover {
            color: blue;
        }
        &:active,
        &_active {
            color: red;
        }
    }

    &__linkWrapper {
        position: absolute;
        right: 0px;
        
    }
}