.form {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    height: 100%;
    align-items: center;

    & > input{
        margin: 20px 0px;
        height: 40px;
        font-size: 32px;
        width: 60%;
    }

    & > span {
        color: red;
        font-size: 32px;
    }
}